body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("https://img.freepik.com/free-photo/top-view-old-french-newspaper-pieces_23-2149318857.jpg?w=1380&t=st=1697726867~exp=1697727467~hmac=191e702d1fc0ac892900625dc7ec3415f50ded27a33ab598b403eceabd3e95c6");
}

body, header {
    margin: 0;
    padding: 0;
}

hr{
    margin-bottom: 40px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    display: flex;
    margin-left: 150px;
    max-width: 100px;
}

.menu ul {
    list-style: none;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu li {
    margin-right: 95px;
}

.menu a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

.scroll{
    background: whitesmoke;
    width: 50%;
    height: 600px;
    margin: 10% auto;
    margin-top: 100px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    border: solid 2px black;
    box-shadow: 10px 10px 15px rgb(44, 44, 44);
    padding: 15px 90px;
    text-align: left;
    font-size: larger;
}

.scroll a{
    color: blue;
}

.scroll a:visited{
    color: darkgreen;
    font-weight: bolder;
}

#borda{
    max-width:65%;
    float: right;
    margin: -10%;
    border-radius: 0%;
    box-shadow: none;
}

.scroll img, iframe{
    border-radius: 12px;
    max-width: 70%;
    position: relative;
    left: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translateX(-50%);
    box-shadow: 10px 10px 25px rgb(44, 44, 44);
}

#legenda{
    text-align: center;
    font-size: 80%;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 40px;
}

.scroll h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 55px;
    margin-bottom: 0;
}

#subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-right: 43%;
}

#info{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 255);
    font-size: 16px;
}

.scroll h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
    font-size: 50px;
}

.scroll p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.adicionais{
    background: whitesmoke;
    width: 50%;
    height: 270px;
    margin: 10% auto;
    margin-top: 70px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    border: solid 2px black;
    padding: 15px 90px;
    text-align: left;
    font-size: larger;
}

.adicionais ul{
    list-style: decimal;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adicionais li{
    margin-bottom: 10px;
}

.adicionais a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0026ff;
}

.adicionais a:visited{
    color: darkgreen;
    font-weight: bolder;
}

.adicionais em{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
